<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class= 'home'> hello world!</h1>
  <%= javascript_include_tag "application" %>
</body>
</html>
